@import './variables';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card-hover {
    transition: transform $transition-speed ease, box-shadow $transition-speed ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}